@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Brasley;
  src: url(./assets/fonts/brasley-thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: Brasley;
  src: url(./assets/fonts/brasley-light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Brasley;
  src: url(./assets/fonts/brasley-regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Brasley;
  src: url(./assets/fonts/brasley-medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Brasley;
  src: url(./assets/fonts/brasley-semi-bold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Brasley;
  src: url(./assets/fonts/brasley-bold.ttf);
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Brasley;
  line-height: 1;
}
